$text: rgb(233, 226, 191);
$highlight: rgb(255, 192, 0);

.showcase {
    width: 100%;
    height: 60vh;
    position: relative;
}

.showcase video {
    object-fit: cover; // not supported in IE
    height: 100%;
    width: 100%;
    // object-fit: fill;
}

.video-shadow {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-image: linear-gradient(-180deg, rgba(28, 28, 30, 0) 0%, #1c1c1e 99%, #1c1c1e);
    // transition: opacity .3s;
}

.slide {
    box-sizing: border-box;
    background: black;
    width: 100%;
    height: 200px;
    // margin: auto;
    display: flex;
    align-content: center;
    justify-content: center;
    // flex-direction: column;
    text-decoration: none;
    border-left: 3px solid $highlight;
    margin-left: 1px;
}

.slide p {
    color: $text;
    margin: auto;
    z-index: 1;
    font-size: 1.5rem;
    padding: 4px;
    // position: absolute;
    // top: 30%;
    margin-left: 60px;
}


.slide .img-box {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    overflow: hidden;
    position: relative;
    text-align: center;
}

.slide .img-box img {
    object-fit: cover; // not supported in IE
    height: 100%;
    width: 90%;
    transform: scale(1);
    transition: all .5s ease-in-out
}

.slide .img-box .img-shadow {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(255, 192, 0, 0);
    background: radial-gradient(circle, rgba(255, 192, 0, 0) 0%, rgba(28, 28, 30, 1) 100%);
    opacity: 0;
    transition: opacity .5s ease-in-out
}

.slide:hover {
    cursor: pointer;
}

.slide:hover img {
    transform: scale(1.2);
}

.slide:hover .img-shadow {
    opacity: 1;
}

.slick-dots {
    border-radius: 0;
    width: 20px;
    content: ""
}

.slick-active {
    color: $highlight !important;
}

// .slide-shadow {
//     position: absolute;
//     left: 0;
//     right: 0;
//     top: 0;
//     bottom: 0;
//     background: rgb(28, 28, 30);
//     background: linear-gradient(120deg, rgba(28, 28, 30, 1) 41%, rgba(255, 192, 0, 0) 100%);
//     opacity: 0;
//     transition: opacity .5s ease-in-out
// }

// .slide:hover .slide-shadow {
//     opacity: .7;
// }


// .slide img {
//     object-fit: cover; // not supported in IE
//     height: 80%;
//     width: 100%;
//     margin-left: auto;
//     transform: scale(1);
//     transition: transform .3s ease-in-out
// }

// .slide:hover img {
//     transform: scale(1.2)
// }

.home-container h1 {
    color: $text;
    width: 90%;
    margin: 60px auto 30px;
    font-size: 3rem;
}

.car-container {
    width: 90%;
    margin: auto;
    display: flex;
    margin-bottom: 40px;
    // flex-direction: row-reverse;
}

.car-container:nth-of-type(even) {
    flex-direction: row-reverse;
}

.car-container .img-box {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    overflow: hidden;
    position: relative;
}

.car-container .img-box img {
    object-fit: cover; // not supported in IE
    height: 100%;
    width: 100%;
    transform: scale(1);
    transition: all .5s ease-in-out
}

.car-container .img-box .img-shadow {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(255, 192, 0, 0);
    background: radial-gradient(circle, rgba(255, 192, 0, 0) 0%, rgba(28, 28, 30, 1) 100%);
    opacity: 0;
    transition: opacity .5s ease-in-out
}

.car-container .img-box .cursor-indicator {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 15px;
    color: white;
    display: none;
}

.car-container .img-box:hover {
    cursor: pointer;
}

.car-container .img-box:hover img {
    transform: scale(1.2);
}

.car-container .img-box:hover .img-shadow {
    opacity: 1;
}

.car-container .wrapper {
    color: $text;
    width: 60%;
}

.car-container .wrapper h2 {
    text-align: center;
    margin: 30px 0;
}

.car-container .wrapper p {
    padding: 30px;
}

@media only screen and (max-width: 1250px) {
    .car-container:nth-of-type(even) {
        flex-direction: row;
    }

    .car-container:nth-of-type(odd),
    .car-container:nth-of-type(even) {
        flex-direction: column;
    }

    .car-container .wrapper {
        width: 100%;
    }
}

@media only screen and (max-width: 1250px) {
    .slide {
        flex-direction: column-reverse;
        padding: 5px;
    }

    .slide .img-box img {
        width: 100%;
    }
}

@media only screen and (max-width: 600px) {
    .car-container .img-box .cursor-indicator {
        display: block;
    }
}