.showcase {
  width: 100%;
  height: 60vh;
  position: relative;
}

.showcase video {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
}

.video-shadow {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(28, 28, 30, 0)), color-stop(99%, #1c1c1e), to(#1c1c1e));
  background-image: linear-gradient(-180deg, rgba(28, 28, 30, 0) 0%, #1c1c1e 99%, #1c1c1e);
}

.slide {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: black;
  width: 100%;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  border-left: 3px solid #ffc000;
  margin-left: 1px;
}

.slide p {
  color: #e9e2bf;
  margin: auto;
  z-index: 1;
  font-size: 1.5rem;
  padding: 4px;
  margin-left: 60px;
}

.slide .img-box {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  overflow: hidden;
  position: relative;
  text-align: center;
}

.slide .img-box img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 90%;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.slide .img-box .img-shadow {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(255, 192, 0, 0);
  background: radial-gradient(circle, rgba(255, 192, 0, 0) 0%, #1c1c1e 100%);
  opacity: 0;
  -webkit-transition: opacity .5s ease-in-out;
  transition: opacity .5s ease-in-out;
}

.slide:hover {
  cursor: pointer;
}

.slide:hover img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.slide:hover .img-shadow {
  opacity: 1;
}

.slick-dots {
  border-radius: 0;
  width: 20px;
  content: "";
}

.slick-active {
  color: #ffc000 !important;
}

.home-container h1 {
  color: #e9e2bf;
  width: 90%;
  margin: 60px auto 30px;
  font-size: 3rem;
}

.car-container {
  width: 90%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
}

.car-container:nth-of-type(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.car-container .img-box {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  overflow: hidden;
  position: relative;
}

.car-container .img-box img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.car-container .img-box .img-shadow {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(255, 192, 0, 0);
  background: radial-gradient(circle, rgba(255, 192, 0, 0) 0%, #1c1c1e 100%);
  opacity: 0;
  -webkit-transition: opacity .5s ease-in-out;
  transition: opacity .5s ease-in-out;
}

.car-container .img-box .cursor-indicator {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 15px;
  color: white;
  display: none;
}

.car-container .img-box:hover {
  cursor: pointer;
}

.car-container .img-box:hover img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.car-container .img-box:hover .img-shadow {
  opacity: 1;
}

.car-container .wrapper {
  color: #e9e2bf;
  width: 60%;
}

.car-container .wrapper h2 {
  text-align: center;
  margin: 30px 0;
}

.car-container .wrapper p {
  padding: 30px;
}

@media only screen and (max-width: 1250px) {
  .car-container:nth-of-type(even) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .car-container:nth-of-type(odd),
  .car-container:nth-of-type(even) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .car-container .wrapper {
    width: 100%;
  }
}

@media only screen and (max-width: 1250px) {
  .slide {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding: 5px;
  }
  .slide .img-box img {
    width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  .car-container .img-box .cursor-indicator {
    display: block;
  }
}
